body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f5f6;
}

a {
  color: #000000;
}

article > * {
  min-width: 0;
}

article > h1 {
  font-family: Lucida Grande;
  color: #000000;
}

article > p {    
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

article > .aside {
  font-family: Lucida Grande;
  margin: 30px 20px;
  color: #666;
  font-size: 0.8em;
}

.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

.bigpic {
  postion:relative;
  width: 100%;
  height: 200px;
  display: block;
  background-image: linear-gradient(to right top, #590036, #59003e, #560047, #520051, #4b005b);
	height: 80vh;
	background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

article h1 {
  column-span: all;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
  padding: 100px 0px;
}

article > * {
  grid-column: 4;
}

article > .aside {
  grid-column: 5 / -1;
}

.wrap {
  padding:100px 0px;
  display: block;
  max-width: 300px;
  margin: auto;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
font-size: 14px;
}

article > blockquote {
  grid-column: 3 / span 2;
  margin: 0px 0;
  color: #666;
  border-left: 3px solid black;
  padding-left: 10px;
}

.active {
  background: #d9d9d9;
}

.header {
  background-color: #f4f5f6;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f4f5f6;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #cccccc;
  color:#000000;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color:#c9c9c9;
}
h1 {
  text-align: center;
}

p.date {
  text-align: right;
}

p.main {
  text-align: justify;
}

.header .logo {
  display: block;
  float: left;
  color:rgb(255, 52, 76);
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  font-family: 'Roboto', sans-serif;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #000000;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #000000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 60em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}