body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f5f6;
}

a {
  color: #000000;
}

article > * {
  min-width: 0;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

article > h1 {
  font-family: Lucida Grande;
  color: #000000;
}

article > p {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

article > .aside {
  font-family: Lucida Grande;
  margin: 30px 20px;
  color: #666;
  font-size: 0.8em;
}

.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}

.bigpic {
  position:relative;
  width: 100%;
  height: 200px;
  display: block;
  background-image: linear-gradient(to right top, #590036, #59003e, #560047, #520051, #4b005b);
	height: 80vh;
	background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

article h1 {
  column-span: all;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
  padding: 100px 0px;
}

article > * {
  grid-column: 4;
}

article > .aside {
  grid-column: 5 / -1;
}

.wrap {
  padding:100px 0px;
  display: block;
  max-width: 300px;
  margin: auto;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

figure figcaption {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}

article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
font-size: 14px;
}

article > blockquote {
  grid-column: 3 / span 2;
  margin: 0px 0;
  color: #666;
  border-left: 3px solid black;
  padding-left: 10px;
}
